:root{
    --min-width: 375px;
    --max-width: 1440px;

    /*PRIMARY COLOURS*/
    --soft-blue:hsl(215, 51%, 70%);
    --cyan:hsl(178, 100%, 50%);
    --cyan-hover:hsla(178, 100%, 50%, 0.452);

    /*NEUTRAL*/
    --very-dark-blue-main:hsl(217, 54%, 11%);
    --very-dark-blue-card:hsl(216, 50%, 16%);
    --very-dark-blue-line:hsl(215, 32%, 27%);
    --white:hsl(0, 0%, 100%);

    /*TYPOGRAPHY*/
    --font-size: 18px;

    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);

}

*{
    margin: 0;
    padding: 0;
}

.image__main,
.image__avatar{
    max-width: 100%;
    height: auto;
}

.image__main{
    position: relative;
    border-radius: .7rem;
    margin-bottom: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Outfit";
    height: 100vh;
    background-color: var(--very-dark-blue-main);
}

.card{
    max-width: 280px;
    padding: 1.4rem;
    border-radius: 1rem;
    background-color: var(--very-dark-blue-card);
}

.card__description{
    border-bottom: .5px solid var(--very-dark-blue-line);
    padding-bottom: 1rem;
}

.card__title{
    transition: opacity 0.5s ease;
    color: var(--white);
    font-size: var(--step-1);
    font-weight: 500;
}

.card__title,
.card__copy{
    margin-bottom: .7rem;
}

.feature__price,
.feature__left{
    display: flex;
    gap:.5rem;
}

.card__copy{
    color: var(--soft-blue);
    line-height: 1.5;
    font-weight: 300;
}

.card__feature{
    display: flex;
    justify-content: space-between;
}

.price{
    color: var(--cyan);
}

.left{
    color: var(--soft-blue);
}

.card__author{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.image__avatar{
    height: 2.3rem;
    width: 2.3rem;
    border: thin solid var(--white);
    border-radius: 50%;
}

.author__description{
    color: var(--soft-blue);
}

.username{
    color: var(--white);
}

.card__container-image{
    position: relative;
}

.card__background-view{
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: opacity 0.5s ease;
    margin-bottom:1.3rem;
    border-radius: .7rem;
    background-color: var(--cyan-hover);
}

.card__background-view:hover{
    opacity:1;
}

.card__title:hover{
    cursor: pointer;
    color: var(--cyan);
}

.username:hover{
    cursor: pointer;
    color: var(--cyan);
}
