:root{
    --min-width: 375px;
    --max-width: 1440px;

    /*PRIMARY COLOURS*/
    --soft-blue:hsl(215, 51%, 70%);
    --cyan:hsl(178, 100%, 50%);

    /*NEUTRAL*/
    --very-dark-blue-main:hsl(217, 54%, 11%);
    --very-dark-blue-card:hsl(216, 50%, 16%);
    --very-dark-blue-line:hsl(215, 32%, 27%);
    --white:hsl(0, 0%, 100%);

    /*TYPOGRAPHY*/
    --font-size: 18px;

}

*{
    margin: 0;
    padding: 0;
}

.image__main,
.image__avatar{
    max-width: 100%;
    height: auto;
}

.image__main{
    border-radius: .7rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Outfit";
    height: 100vh;
    background-color: var(--very-dark-blue-main);
}

.card{
    max-width: 280px;
    padding: 1.4rem;
    border-radius: 1rem;
    background-color: var(--very-dark-blue-card);
}

.card__description{
    border: thin solid red;
}

.card__title{
    color: var(--white);
    font-size: var();
}

.card__author{
    border: thin solid blue;
}